.main {
  padding-top: 50px; }

body {
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.column, .columns {
  height: 100%; }

/* Mobile first queries */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
.sub-title {
  font-weight: bold; }

.divider {
  border: solid 1px rgba(167, 163, 163, 0.44); }

.mask {
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  text-align: center;
  background-color: rgba(105, 98, 98, 0.24); }
  .mask img {
    width: 40px;
    height: 40px;
    margin-top: 50%; }

header {
  padding-top: 10px;
  text-align: center;
  background-color: white; }
  header .brand {
    display: flex; }
    header .brand .what-we-do {
      width: 40%;
      font-weight: bold;
      text-align: center;
      letter-spacing: 1px;
      font-family: fantasy; }
    header .brand .how-we-do {
      width: 60%; }
  header img {
    width: 100%; }

.card {
  display: flex;
  margin: 20px 0; }
  .card img {
    width: 200px;
    height: 200px; }
  .card div {
    width: 100%;
    padding-top: 45px;
    padding-left: 20px; }
    .card div h4 {
      letter-spacing: 2px;
      font-family: cursive; }
    .card div h5, .card div h6 {
      letter-spacing: 1px;
      color: #756f6f; }

footer {
  padding: 5px 0;
  color: white;
  text-align: center;
  background-color: #912d10; }
  footer h6 {
    margin: 0;
    letter-spacing: 3px; }

.modal {
  top: 0;
  z-index: 10;
  width: 300px;
  position: fixed;
  border: solid 1px black; }
  .modal .modal-header {
    height: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: black; }
    .modal .modal-header h5 {
      line-height: 50px; }
  .modal .modal-content {
    background-color: white;
    padding: 15px; }
    .modal .modal-content input, .modal .modal-content textarea {
      margin: 0;
      width: 100%;
      border-radius: 0; }
      .modal .modal-content input:focus, .modal .modal-content textarea:focus {
        border-color: #615a5a; }
    .modal .modal-content input {
      margin-bottom: 10px; }
    .modal .modal-content textarea {
      resize: none;
      height: 200px; }
    .modal .modal-content .required {
      color: red;
      font-weight: bold; }
  .modal .modal-footer {
    height: 50px;
    display: flex;
    cursor: pointer;
    line-height: 50px;
    font-weight: bold;
    text-align: center; }
    .modal .modal-footer .send-btn {
      width: 100%;
      color: white;
      background-color: black; }
    .modal .modal-footer .cancel-btn {
      width: 100%;
      background-color: #dbd9d9; }

.modal-back-drop {
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(105, 98, 98, 0.24); }

.top-menu {
  z-index: 10;
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  color: white;
  background: black; }
  .top-menu div {
    min-width: 150px;
    background-color: #912d10; }
    .top-menu div h3 {
      color: white;
      line-height: 50px;
      font-weight: bold;
      padding-left: 10px;
      letter-spacing: 3px; }
  .top-menu img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 10px 10px 0 10px; }
  .top-menu .name {
    width: 100%;
    text-align: right;
    line-height: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase; }

.side-menu {
  z-index: 10;
  width: 150px;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  margin-top: 50px;
  user-select: none;
  background: white;
  border-right: solid 1px rgba(167, 163, 163, 0.44); }
  .side-menu ul {
    margin: 0;
    padding: 0; }
    .side-menu ul li {
      margin: 0;
      height: 50px;
      cursor: pointer;
      list-style: none;
      font-weight: bold;
      line-height: 50px;
      padding-left: 10px;
      border-top: solid 1px grey; }
      .side-menu ul li:last-child {
        border-bottom: solid 1px grey; }
      .side-menu ul li:hover {
        background-color: #e5dcd9; }
      .side-menu ul li.selected {
        background-color: #e5dcd9; }
