.card {
    display: flex;
    margin: 20px 0;    
    img {
        width: 200px;
        height: 200px;
    }
    div {
        width: 100%;
        padding-top: 45px;
        padding-left: 20px;
        h4 {
            letter-spacing: 2px;
            font-family: cursive;    
        }
        h5, h6 {
            letter-spacing: 1px;
            color: $normalGreyColor;
        }
    }  
}