header {
    padding-top: 10px;
    text-align: center;    
    .brand {
        display: flex;
        .what-we-do {
            width: 40%;
            font-weight: bold;
            text-align: center;
            letter-spacing: 1px;
            font-family: fantasy;
        }
        .how-we-do {
            width: 60%;
        }
    }    
    img {
        width: 100%;
    }
}