.modal {
    top: 0;
    z-index: 10;
    width: 300px;
    display: none;
    position: fixed;
    border: solid 1px black;
    .modal-header {
        height: 50px;
        color: white;
        font-weight: bold;        
        text-align: center;        
        background-color: black;
        h5 {
            line-height: 50px;
        }
    }
    .modal-content {
        padding: 15px;
        position: relative;
        background-color: white;
        input, textarea {
            margin: 0;
            width: 100%;            
            border-radius: 0;
            &:focus {
                border-color: #615a5a;
            }
        }
        input {
            margin-bottom: 10px;
        }
        textarea {
            resize: none;
            height: 200px;            
        }
        .required {
            color: red;
            font-weight: bold;
        }
        .error-message {
            color: red;
            float: right;
            display: none;
        }
    }
    .modal-footer {
        height: 50px;
        display: flex;
        cursor: pointer;
        line-height: 50px;
        font-weight: bold;
        text-align: center;
        .send-btn {
            width: 100%;
            color: white;            
            background-color: black;
        }
        .cancel-btn {
            width: 100%;
            background-color: #dbd9d9;
        }
    }
}

.modal-back-drop {
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;    
    background-color: rgba(105, 98, 98, 0.24);
}